<div class="container">
<div class="row" id="article">
    <h2 class="card-title">{{article.title}}</h2>
    <h5 class="card-body articleBody">{{body}}</h5>
</div>
<br>
<hr>
<br>
<div class="row">
    <div class="card"></div>
    <form action="/comment/{{article._id}}" method="POST" class="card-panel col s12">
        <h5>Comment on this Article</h5>
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">Name</i>
                <input id="icon_prefix" type="text" placeholder="Name" name="name" class="validate active">
            </div>

            <div class="input-field">
                <i class="material-icons prefix">Comment</i>
                <textarea id="icon_telephone" type="text" placeholder="Comment" name="comment" class="validate active" rows="3"></textarea>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="input-field">
                <input class="btn add-comment-button bg-info" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
<br>
<div class="row">
    <div class="card"></div>
    <div class="card-body">
        <h5>Comments:</h5>
        {{#if article.comment}}
        {{#each article.comment}}
        <div class="card">
            <p id="nameComment">{{name}}</p>
            <p>{{body}}<p>
        </div>
        {{/each}}
        {{else}}
        <p>No Comments Yet.</p>
        {{/if}}

    </div>
</div>
</div>